<?php

use Magento\Framework\View\Element\Template;
use Perspective\TutorialProductPage\ViewModel\CustomModel;

/** @var Template $block */
/** @var CustomModel $viewModel */

$viewModel = $block->getViewModel();
?>

<?php if ($viewModel->isAvailable()): ?>
<h1>
    Test Custom
</h1>
<h2>
    <?= $viewModel->getAnyCustomValue() ?>
</h2>
<?php endif ?>
